.bootcamps {
  background-color: rgba(225, 227, 230, 0.747);
  scroll-margin-top: 15rem;
}

.bootcamps .bootcamps__content {
  padding: 6rem 4rem;
  text-align: center;
}

.bootcampss .bootcamps__content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
}

.bootcamps .bootcamps__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.bootcamps .bootcamps__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;  
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.bootcamps .bootcamps__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
